この話題への皆の回答
<h1><%= @topic.title %></h1>

<% @tag_list.each do |tag|%>
  <div class="btn btn-primary">
    <%= tag %>
  </div>
<% end %>

<div>
  <%= form_with model: [@genre, @topic], local: true do |f| %>
    <%= f.label :tag_list, 'タグ (コンマで区切って入力)' %>
    <%= f.text_field :tag_list, value: @topic.tag_list.join(','), class: 'form-control' %>
    <%= f.submit "タグを更新" %>
    </label>
  <% end %>
  </div>
</div>

<div>
  <p>コメント件数：<%= @topic.comments.count %></p>
  <% if @topic.comments.any? %>
    <% @topic.comments.each do |comment| %>
      <div>
        <%= comment.comment %>
      </div>
    <% end %>
  <% else %>
    <p>コメントはありません。</p>
  <% end %>
</div>

<%= link_to 'もどる', genre_path(@topic.genre) %>
