<div class="container elegant-bg cake-font">
  <div class="row">
    <div class="col">
      <h2 class="my-4 elegant-header">新規登録</h2>

      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless">

          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email, placeholder: "sample@example.com", class: "wide-text-field" %></td>
          </tr>

          <tr>
            <td>パスワード
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> 文字以上)</em>
                  <% end %>
            </td>
            <td><%= f.text_field :password, autocomplete: "new-password" %></td>
          </tr>

          <tr>
            <td>パスワード(確認用)</td>
            <td><%= f.text_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class:"btn", style: "background-color: #9AC5F4; color: white;" %></td>
          </t>
        </table>

        <h4 class="elegant-header-no-underline">既に登録済みの方</h4>
        <p class="center-button-container custom-padding">
          <%= link_to "こちら", new_customer_session_path, class: "elegant-link, style: text-decoration: underline; color: blue;" %>からログインしてください。
        </p>
      <% end %>
    </div>
  </div>
</div>