<!DOCTYPE html>
<html>
  <head>
    <title>WadaiDecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <main>
    <%= render 'layouts/header' %>

    <!-- フラッシュメッセージを表示 -->
    <% flash.each do |key, value| %>
      <div class="flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </main>
  </body>
</html>
